.appComponent {
    display: flex;
    justify-content: center;
    width: 1280px;
    height: 720px;
    border: 5px solid black;
}

.startMenuDiv {
    background-color: azure;
    width: 1280px;
    height: 720px;
}

.startMenu {
    position: absolute;
    top: 50%;
}

.battleZone {
    width: 1280px;
    height: 720px;
    background-color: aqua;
}

.dungeonDiv {
    background-image: url('./assets/images/backgrounds/dungeon1.png');
    width: 1280px;
    height: 480px;
}

.console {
    position: absolute;
    top: 380px;
    width: 1280px;
    height: 120px;
    overflow-y: auto;
    background-color: black;
    color: white;
}



.bottomPanel {
    background-image: url('./assets/images/backgrounds/bottompanel.png');
    width: 1280px;
    height: 240px;
}


.playerDiv {
    padding: 12px;
    display: flex;
    align-items: center;
}

.enemyDiv {
    padding: 50px;
    display: flex;
    .avatar {height: 150px; width: 150px; border-radius: 50%;}
}
.enemyInfos {
    width: 200px;
    padding: 5px;
}